// Configuração do arquivo do JourneyMap. Modifique ao seu próprio risco!
// Para usar em todos os mundos, coloque aqui: journeymap\config\5.7\
// Para mais informação, vá para: http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}